* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("bgimage.jpg") center/cover no-repeat fixed;
    margin: 0; 
    margin-bottom: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px 0px;
    position: fixed;
    top: 0;
    left: 0px;
    background-image: linear-gradient(#24252A, black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

nav .logo img{
    margin-bottom: -5px;
    float: left;
    margin-right: 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: none;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: red;
    transition: all 0.4s ease 0s;
}

header {
    width: 100%;
    text-align: center;
    padding-top: 75px; 
}

.container-box{
    position: relative;
    right: 0;
}

.container-box img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}


.container-box li {
    display: inline-block;
    list-style: none;
}

.container-box li a {
    font-size: 18px;
    text-transform: none;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 0 10px;
    height: 40px;
    position: relative;
}

.container-box li a:hover + .join-now-link{
    color: red;
    transition: all 0.4s ease 0s;
}

.container-box li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    z-index: -1;
}

.container-box li:last-child a:before {
    display: none;
}

.container-box li .join-now-link:hover {
    color: red;
}

.container-box li .sign-in-link:hover {
    color: red; 
}

#searchBox {
    position: absolute;
    top: 75px; /* Adjust the top position based on your header height */
    right: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure the search box is above other elements */
}


.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 10px;
    margin-right: auto;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.slideshow-container {
    position: relative;
}

.mySlides img{
    width: 1517px;
    height: 500px;;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 80px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

h1{
    color: white;
    text-align: center;
}

.top-seller-heading{
    color: white;
    position: relative;
    right: -360px;
    bottom: -95px;
}

.topscroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border: 2px solid white;
    width: 340px;
    margin: 0 auto;
    position: relative;
    right: 300px;
    top: 100px;
}

.topscroll-container img {
    padding: 10px;
}

.topscroll-container img:first-child {
    margin-left: 10px;
}

.upcoming-heading{
    color: white;
    position: relative;
    right: -970px;
    bottom: 375px;
}

.upscroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border: 2px solid white;
    width: 340px;
    margin: 0 auto;
    position: relative;
    left: 300px;
    bottom: 370px;
}

.upscroll-container img {
    padding: 10px;
}

.upscroll-container img:first-child {
    margin-left: 10px;
}

footer{
    background-color: #24252A;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}